@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

:root {
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Soft-red: hsl(5, 85%, 63%);
  --Soft-orange: hsl(35, 77%, 62%);
}
body{
    font-family:"Inter" ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  transition: transform 0.5s ease-in 1s;

  animation: 1s ease-in 1s SlideIn;
}

@keyframes SlideIn {
  0% {
    transform: translateY(-100px);

    opacity: 0;
  }
  25% {
    transform: translateY(-100px);

    opacity: 0.25;
  }
  50% {
    transform: translateY(-100px);

    opacity: 0.5;
  }
  75% {
    transform: translateY(-100px);

    opacity: 0.75;
  }

  100% {
    transform: translateX(0px);

    opacity: 1;
  }
}

.links ul {
  display: flex;
  gap: 1rem;
}
.links ul li {
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
  transition: 0.5 color ease;
}

.links ul li a:hover {
  color: var(--Soft-red);
}

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
}
.new_articles {
  background-color: hsl(240, 100%, 5%);
  font-family: sans-serif;
  color: hsl(36, 100%, 99%);
  padding: 1rem;
  animation: 1s ease-in 0.5s SlideRight;
  transition: transform 1s ease-in 1s;
}

@keyframes SlideRight {
  0% {
    transform: translateX(150px);

    opacity: 0;
  }

  25% {
    transform: translateX(100px);

    opacity: 0.25;
  }
  50% {
    transform: translateX(50px);

    opacity: 0.5;
  }

  75% {
    transform: translateX(25px);

    opacity: 0.75;
  }


  100% {
    transform: translateX(0px);

    opacity: 1;
  }
}

.heading {
  font-size: 2.5em;
  margin-top: 7px;
  color: var(--Soft-orange);
}

.article {
  margin: 25px 5px;
}
.article a {
  color: hsl(36, 100%, 99%);
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
  text-decoration: none;
  transition: color 0.5s ease;
}
.hero_text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}
.hero_text h1 {
  font-size: 3rem;
  font-weight: 800;
}
.call_out {
  margin-top: 1rem;
}

.button {
  background-color: hsl(5, 85%, 63%);
  padding: 1rem 1.5rem;
  display: inline-block;
  margin-top: 1.5em;
 
  text-decoration: none;
  color: hsl(36, 100%, 99%);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25em;
  transition: background-color 0.5s ease;
}
.button:hover {
  background-color: black;
}
.articles {
  display: flex;
  gap: 1rem;
  margin: 4rem 0;
}
.article a:hover {
  color: var(--Soft-orange);
}
.new_article {
  display: flex;
  gap: 1rem;
}
.new_article .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap:1rem;
}
.card-flag-container{
  height: 50%;
  align-items: center;
  
}

.card-flag{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-info{
  font-family: 'Inter';
  padding: 1.5rem;
  line-height: 1rem;

  height: 50%;
}
.card-info h2{
  margin-bottom: 1rem;
}
.card-info p{
  margin-bottom:0.5rem ;
}
.card{
  border-radius: 7px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  background-color:rgb(238, 230, 230);
}

.new_article img {
  max-width: 120px;
}
.content h2 {
  color: hsl(233, 8%, 79%);
  font-size: 2rem;
}
.content h3:hover {
  color: var(--Soft-red);
}

@media screen and (max-width: 800px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .articles {
    flex-direction: column;
  }
}

.formDiv{
  background-color: rgb(83, 232, 125);
  height: 575px;
  
}
.fieldDiv{
  margin-top: 100px;
  border: 1px solid rgb(166, 50, 50);
  background-color: rgb(120, 89, 232);
  border-radius: 7px;
  padding: 40px;
}
.fieldDiv h2{
margin-left: 150px;
padding-bottom: 10px;
}
.fieldDiv h4{
  font-size: 14px;
  padding: 10px;
  margin-left: 85px;
  font-weight: 500;
}

.loginBtn{
  margin-left: 170px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color:yellow;
  color: rgb(9, 7, 12);
  font-size: 14px;
  text-decoration: none;
}
.loginBtn:hover{
  background-color: rgb(217, 217, 109);
}
.signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.inputField{
  display: flex;
  flex-direction: column;
 margin-top: 1rem;

}
.inputField label{
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 8px;
}
.inputField input{
  height: 30px;
  width: 400px;
}
.submit{
  margin-top: 1rem;
  width:400px;
  padding: 10px;
  color:rgb(248, 243, 243);
  cursor: pointer;
  background-color:rgb(238, 27, 238);
  border: none;
  border-radius: 5px;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 15px;
  font-weight: 500;
  transition-duration: 0.5sec;
}
.errorSpan{
  color: rgb(218, 61, 61);
  font-size: 12px;
}
.submit:hover{
  background-color: rgb(225, 86, 225);
}
.formDivlog{
  background-color: rgb(211, 74, 64);
  height: 575px;
  
}
.checkBox{
display: flex;
padding-top: 10px;
gap: 5px;
color: rgb(109, 20, 20);
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.forget{
  padding-top: 10px;
  font-size: 13px;
  margin-left: 110px;
  color: rgb(239, 14, 14);
  text-decoration: underline;
  cursor: pointer;
}